<h2>Комментарии</h2>
<div class="js-comments">
	{% assign comments = site.data.comments | sort %}
	
	{% for commetn in comments reversed %}
		{% assign commentData = comment[1] %}
        <p><a href="mailto:{{ reviewData.email }}">{{ reviewData.name }}</a></p>
        <p>{{ commentData.comment | markdownify }}<p>
	{% endfor %}
</div>

<form method="POST" action="https://api.staticman.net/v1/entry/illus0r/dianov.org/gh-pages">
  <input class="mdl-textfield__input" type="text" id="movie-form[name]" name="fields[name]"/>
  <label class="mdl-textfield__label" for="movie-form[name]">Имя и Фамилия</label>
  <input class="mdl-textfield__input" type="text" id="movie-form[email]" name="fields[email]"/>
  <label class="mdl-textfield__label" for="movie-form[email]">Почта</label>
  <input class="mdl-textfield__input" type="text" id="movie-form[comment]" name="fields[comment]"/>
  <label class="mdl-textfield__label" for="movie-form[comment]">Комментарий</label>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Submit
  </button>
</form>