{% comment %}
<h2>Комментарии</h2>
{% assign post_slug = page.path | split:"/" | last | split:"." | first | slugify %}
<div class="js-comments">
  {% if site.data.comments[post_slug] %}
    {% assign comments = site.data.comments[post_slug] | sort %}
    {% for comment in comments %}
      {% assign commentData = comment[1] %}
      <p><a href="mailto:{{ commentData.email }}">{{ commentData.name }}</a>:</p>
      <p>{{ commentData.comment | markdownify }}<p>
    {% endfor %}
  {% endif %}
</div>

<form method="POST" action="https://api.staticman.net/v1/entry/illus0r/dianov.org/gh-pages">
  <input type="hidden" name="options[slug]" value="{{ post_slug }}">
  <label for="comment-form[name]">Имя и фамилия</label>
  <input type="text" id="comment-form[name]" name="fields[name]"/>
  <label for="comment-form[email]">Почта</label>
  <input type="text" id="comment-form[email]" name="fields[email]"/>
  <label for="comment-form[comment]">Комментарий</label>
  <textarea id="comment-form[comment]" name="fields[comment]" rows="10" style="width: 100%;"></textarea>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
    Submit
  </button>
</form>


<form method="POST" action="https://api.staticman.net/v2/entry/eduardoboucas/staticman/gh-pages/comments">
  <input name="options[redirect]" type="hidden" value="https://my-site.com">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>
  
  <button type="submit">Go!</button>
</form>
{% endcomment %}
<div id="disqus_thread"></div>
<script>
/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://dianov.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
