<div class="contact-form">
  <div class="wrapper">
    <form action="http://formspree.io/zor667@gmail.com" method="POST">
      
      <label>Расскажите о своём заказе</label>
      <textarea name="message" placeholder="Приветствую, Иван!&NewLine;Сколько будет стоить разработка сайта для..?"></textarea>
      <label>или просто отправьте телефон — перезвоню в течение суток.</label>  
      <input type="text" name="phone" placeholder="+79111111111">
      <input type="submit" id="contact-form-submit" value="Отправить сообщение">
      <input type="hidden" name="_next" value="{{ site.url }}/thanks.html" />
    </form>
  </div>
</div>
