  <div class="avatar">
    <a href="{{ site.url }}">
      <img src="{{ site.url }}/media/img/photo.png" alt="">
    </a>
  </div>
  <div class="contacts">
    <div class="name">Дианов Иван</div>
    - - -
    <div class="phone">+7 905 394-5-394</div>
    <div class="email"><a href="mailto:{{ @include $site.email }}">ivan@dianov.org</a></div>
  </div>
  <nav>
    {% for page in site.pages %}
      {% if page.title %}
      <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
