{% assign c = include.content %}
{%assign prepositions="а|в|и|к|о|с|у|я|во|вы|да|до|за|из|ко|мы|на|не|ни|но|ну|об|он|от|ох|по|со|та|те|то|ту|ты|уж|при|или|что|кроме|без|А|В|И|К|О|С|У|Я|Во|Вы|Да|До|За|Из|Ко|Мы|На|Не|Ни|Но|Ну|Об|Он|От|Ох|По|Со|Та|Те|То|Ту|Ты|Уж|При|Или|Что|Кроме|Без" | split:"|" %}
{% for preposition in prepositions %}
  {% assign pattern = preposition | append: ' ' %}
  {% assign replacement = preposition | append: '&nbsp;' %}
  {% assign c = c | replace: pattern, replacement %}
{% endfor %}
{{ c }}

