.header{
	a{
		border: none;
	}

	#logo{
		width: 32px;
		height: 32px;
		display: inline-block;
		//vertical-align: -6%;
		canvas{
			display: inline-block;
			width: 100% !important;
			height: 100% !important;
			margin-top: -10px;
			position: relative;
			top: 1px;
		}
	}

	.email{
		float: right;
	}

}
