body{
  margin: 0;
  font-size: $font-size-base;
	background: $color-bg;
	padding: $body-paddings;
}

.wrapper{
  //@include outer-container;
  //@include media(max-width $mama-bear, 1) {
    //padding: 0 1em;
  //}
}

.page-content{
  //@include media(max-width $mama-bear, 1) {
    //@include span-columns(1);
    //margin-top: 0;
  //}
  //@include span-columns(8);
  //@include omega;
  margin-top: 30px;
}

.contact-form{
  margin-top: 30px;
  //@include outer-container;
  background: $col-primary-light;
  form{
    //@include media(max-width $mama-bear, 1) {
      //@include span-columns(1);
      //@include shift(0);
      //padding-bottom: 30px;
    //}
    //@include span-columns(8);
    //@include shift(4);
    padding: 30px 0 100px;
    position: relative;
    max-width: $site-width;
    /*overflow: hidden;*/
    &:after{
      //@include media(max-width $mama-bear, 1) {
        //display: none;
      //}
      bottom: 40px;
      right: -50px;
      /*left: 184px;*/
      content: ' ';
      display: block;
      width: 443px;
      height: 183px;
      pointer-events: none;
      position: absolute;
      background: url(/media/img/plane.png) no-repeat;


    }
    textarea, input{
      border: 3px solid #bdcdd4;
      padding: 0.2em 0.4em;
      font-size: inherit;
      display: block;
      margin: 0.3em 0 0.8em;
    }
    textarea{
      width: 100%;
    }
    input{
      height: 40px;
    }
    input[type='text']{
      width: 150px;
    }
    input[type='submit']{
      background: $col-primary;
      border: none;
      color: white;
      padding:0 1em;
    }
  }
}
