.posts, .post{
  img{
    width: 100%;
  }
  h2{
    background: none;
    margin-bottom: 0;
  }
  .post-meta{
    opacity: 0.2;
    transition: opacity 0.2s;
    &:hover{
      opacity: 1;
    }
  }
  .quote{
    border: 4px solid red;
    padding: 11px 15px;
    margin: 25px -20px;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
  }
}
