.post{
	margin-bottom: 20vw;
	&>*{
		max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
	}
  h1{
    max-width: none;
    margin-bottom: 10vw;
  }
  img, iframe{
    //@include post-block-margins; // too small
    @include post-block-margins;
		//margin-bottom: 26px;
		//margin-top: 26px;
    display: block;
    max-width: 100%;
		box-shadow: 0 8px 16px rgba(0,0,0,0.25);
		border-radius: 4px;
		background: white;
    //&.border{
      //border: 1px solid #eee;
    //}
  }
  iframe{
    width: $site-width;
  }
  .post-meta{
    opacity: 0.2;
    transition: opacity 0.2s;
    &:hover{
      opacity: 1;
    }
  }
}
