.post{
	margin-bottom: 20vw;
	&>*{
		max-width: $site-width;
    margin-left: auto;
    margin-right: auto;
	}
	h1{
		font-family: $header-font-family;
		max-width: $biggest-width;
		margin-bottom: 1em;
		text-transform: uppercase;
		line-height: 1;
		//text-shadow: 0 0px 16px rgba(0,0,0,0.4);
		span{
			display: inline-block;
			white-space: nowrap;
			//background: linear-gradient(360deg, #FFFFF1 0%, rgba(255, 255, 241, 0) 100%);
		}
		a{
			display: inline-block;
			width: 100%;
			border: none;
			position: relative;
			transition: all 0.3s;
			top: 0;
			opacity: 1;
			&:hover{
				//background: none;
				top: -5px;
				opacity: 0.8;
			}
		}
	}
	p{
		&.large{
			max-width: 100%;
			width: 100%;
			text-align: center;
			&>*{
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				max-width: $biggest-width;
				//border-radius: 0;
				//margin-left: -$body-paddings;
				//margin-right: -$body-paddings;
			}
		}
	}
  img, iframe{
    //@include post-block-margins; // too small
    @include post-block-margins;
		//margin-bottom: 26px;
		//margin-top: 26px;
    display: block;
		//max-width: $biggest-width;
		max-width: 100%;
		box-shadow: 0 16px 32px rgba($color-text, 0.15);
		border-radius: 4px;
		background: white;
    margin-left: auto;
    margin-right: auto;
    //margin-left: auto;
    //margin-right: auto;
    //&.border{
      //border: 1px solid #eee;
    //}
  }
  iframe{
    width: $site-width;
  }
  //.post-meta{
    //opacity: 0.2;
    //transition: opacity 0.2s;
    //&:hover{
      //opacity: 1;
    //}
  //}
}
