.posts, .post{
  img{
    width: 100%;
    border: 1px solid #eee;
  }
  h2{
    background: none;
    margin-bottom: 0;
  }
  .post-meta{
    opacity: 0.2;
    transition: opacity 0.2s;
    &:hover{
      opacity: 1;
    }
  }
  .quote{
    border: 4px solid red;
    padding: 26px 15px;
    /*margin: -8px -20px -11px;*/
    margin: -8px 0 -11px;
    font-size: 1.5em;
    line-height: 1.2em;
    text-align: center;
  }
  blockquote{
    border-left: 3px solid silver;
    margin-left: 0;
    padding-left: 20px;
    color: #bbb;
  }
}
