@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

p{
  margin-top: 0;
}
h1, h2{
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: $font-size-big;
  background: url(/media/img/hr.png) no-repeat left bottom;
  @include media(max-width $mama-bear, 1) {
    background: none;
    text-align: center;
  }
}
h2{
  font-weight: normal;
}
a{
  text-decoration: none;
  border-bottom: 1px solid rgba( $col-primary, .3 );
  color: $col-primary;
  &:active{
    color: $col-primary-light;
    border-bottom: 1px solid rgba( $col-primary-light, .3 );
  }
  &:visited{
    color: $col-primary-dark;
    border-bottom: 1px solid rgba( $col-primary-dark, .3 );
  }
}
.caption{
  font-size: 0.75em;
  margin-top: -0.8em;
}
ul{
  font-size: $font-size-base * 0.9;
  list-style: none;
  padding-left: 1.4em;
  margin-top: -1em;
  li{
    margin-bottom: 0.5em;
    /*position: relative;*/
    /*&:before{*/
      /*content: '-';*/
      /*left: -0.7em;*/
      /*position: absolute;*/
    /*}*/
  }
}
.headlight{
  background: $col-primary-light;
  padding: 1px 1em;
}
.phone, .email{
  @include media(max-width $mama-bear, 1) {
    text-align: center;
  }    
}
.phone{
  padding: 0 36px 0 50px;
  height: 38px;
  background: url(/media/img/phone.png) no-repeat;
  font-size: $font-size-big;
  display: inline-block;
  p{
    margin: 0;
  }
}
.email{
  display: inline-block;
}
.btn{
  background: $col-primary;
  border: none;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding: 12px 30px 11px;
  text-decoration: none;
  &:active{
    background: lighten($col-primary, 5%);
  }
  &:hover{
    background: darken($col-primary, 5%);
    border-bottom: none;
    color: white;
  }
  &:visited{
    color: white;
  }
}
