$base-font-family: Georgia, Garamond, serif;
$font-monospace: "Ubuntu Mono", monospace;
$header-font-family: Helvetica, Arial, sans-serif; //unused
$font-size-base:   18px;
$font-size-big: $font-size-base * 1.5;
$base-line-height: 1.4;

$col-primary: #4983BD;
$col-primary-dark: #4983BD;
$col-primary-light: #F5FAFF;

$_max-width: 800px;
$max-width: 100%;

$papa-bear: 960px;
$mama-bear: 915px;
$baby-bear: 320px;
